name: Publish documentation to GH-Pages
on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.x"
    - name: Install hatch
      run: |
        python -m pip install --upgrade pip
        python -m pip install hatch
    - name: Check proper style
      run: python -m hatch run lint:style
    - name: Generate HTML docs
      run: |
        python -m hatch run docs:html
        tar \
          --dereference --hard-dereference \
          --directory docs/_build/html \
          -cvf "$RUNNER_TEMP/artifact.tar" \
          .
    - name: Upload HTML docs
      uses: actions/upload-artifact@v3
      with:
        name: github-pages
        path: ${{ runner.temp }}/artifact.tar
        retention-days: 1
        if-no-files-found: error

  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
